.loader {
   
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    
   
}

 .loader_inner {
    background-image: url("810.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:rgb(243, 139, 139);
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}

.button {
    position: fixed;
        background-color: #4CAF50; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 21px;
        border-radius: 5px 5px 5px 5px;
        cursor: pointer;
       
    
}